<include href="admin_header.html" />
		<div class="altcontent">
        <h2>Dmail viewer</h2>
        <br />
            <div class="forum">
                    <div class="post" id="{{ @id }}">
                        <div class="post_author">
                            <h6><a href="/user/{{ @from_id }}">{{ @from_username }}</a></h6>
		                    {{ @from_title }}
<check if="{{ @from_avatarinfo }}">
<true>
							<a href="/user/{{ @from_id }}"><img class="post_avatar" src="{{ @site_url }}{{ @thumbnail_folder_ava }}/{{ @from_id }}_{{ @from_avatarinfo.md5 }}.{{ @from_avatarinfo.file_ext }}" height="{{ @from_avatarinfo.height }}" width="{{ @from_avatarinfo.width }}" /></a>
</true>
<false>
                            &nbsp;
</false>
</check>
                        </div>
                        <div class="post_content">
                            <div class="date">{{ @date_made | raw }}</div>
                            <div class="date">Sent by {{ @from_username }} to {{ @to_username }}</div><br />
                            <h6>{{ @title }}</h6><br />
                            <div class="post_body"><p>{{ @body | raw }}</p></div>
                            <div class="post_signature">
                                <hr></hr>
								{{ @from_signature | raw }}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="cl"></div>
    </div>
<include href="footer.html" />