<include href="admin_header.html" />
<check if="{{ @app_rej_menu }}">
<true>
	<div class="content">
          <form method="post" action=""><table><tr><td>
		  Accept<input type="radio" name="accept" value="1"/>
		  Reject<input type="radio" name="accept" value="2"/>
		  </td></tr><tr><td>
		  <input type="submit" name="submit" value="Submit"/>
		  </td></tr></table></form>
          <div class="cl"></div>
	</div>
       </div>
</true>
<false>
        <div class="content">
          <table width="100%" border="0" class="highlightable">
		    <tr><th>Alias [What it should be!]</th><th>Tag [What they search for!]</th></tr>
          <repeat group="{{ @pendingresult }}" value="{{ @pr }}">
		    <tr><td><a href="/admin/alias/{{ @pr.alias }}/{{ @pr.tag }}">{{ @pr.tag }}</a></td><td><a href="/admin/alias/{{ @pr.alias }}/{{ @pr.tag }}">{{ @pr.alias }}</a></td>
          </repeat>
	<check if="{{ count(@pendingresult) == 0 }}">
		    <tr><td><h1>No aliases has been requested.</h1></td></tr>
    </check>
          </table>
          <div class="cl"></div>
	</div>
</false>
</check>
       </div>
<include href="footer.html" />