<include href="admin_header.html" />
<check if="{{ @secondstep }}">
<true>
    <div class="content">
    <form method="post" action="">
	<table><tr><td>
	User: {{ @username }}</td></tr>
	<tr><td>
	New password?<br />
	<input type="text" name="password" value=""/>
	</td></tr>
	<tr><td>Group:<br /><select name="group">
    <repeat group="{{ @groupinfo }}" value="{{ @gi }}">
	    <check if="{{ @gi.ugroup == @gi.id }}">
	    <true>
			<option value="{{ @gi.ugroup }}" selected>No change</option>
	    </true>
	    <false>
		    <option value="{{ @gi.id }}">{{ @gi.group_name }}</option>	    
	    </false>
	    </check>
    </repeat>
	</select></td></tr><tr><td>
	<input type="hidden" name="uid" value="{{ @userid }}"/>
	</td></tr>
	<tr><td>
	<input type="submit" name="submit" value="save"/>
	</td></tr></table></form>
    <div class="cl"></div>
    </div>
</div>
</true>
<false>
	<div class="content">
    <form method="post" action=""><table><tr><td>
	User ID:<br />
	<input type="text" name="user" value=""/>
	</td></tr>
	<tr><td>
	<input type="submit" name="submit" value="edit"/>
	</td></tr></table></form>
    <div class="cl"></div>
    </div>
</div>
</false>
</check>
<include href="footer.html" />