<include href="header.html" />
    <div class="content_frame">
    <div class="altcontent">
    <h4>Change Password</h4><br /> 
<check if="{{ @sentdata }}">
<true>
    <br /><h4 style="error">{{ @error }}</h4><br />
</true>
<false>
    <form method="post" action="">
	<table>
    <tr><td>Enter your new password:</td>
	    <td><input type="password" name="new_password" value="" /></td>
	</tr>
	  <tr>
	    <td>Once more to confirm:</td>
	    <td><input type="password" name="confirm_p2" value="" /></td>
        </tr>
	  <tr><td>
	<input type="submit" name="submit" value="Change" />
	</td>
	    <td>&nbsp;</td>
	  </tr>
	</table>				
	</form><br />
</false>
</check>
    </div>
    </div>
<include href="footer.html" />