<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="RATING" content="{{ @SiteRating }}"/>
    <meta name="keywords" content="{{ @SiteKeywords }}"/>
    <meta name="description" content="{{ @SiteDescription }}"/>
	<title>{{ @site_url3 }}</title>
	<link rel="shortcut icon" href="{{ @site_url }}theme/{{ @theme }}/favicon.ico" /> 
	<link rel="stylesheet" type="text/css" href="{{ @site_url }}theme/{{ @theme }}/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ @site_url }}theme/{{ @theme }}/css/style.css">
	<script src="{{ @site_url }}script/prototype.js?2" type="text/javascript"></script>
	<script src="{{ @site_url }}script/scriptaculous.js?2" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
	<div class="body_frame_main">
	<div class="body_too">
		<div class="header_frame">
			<div class="nav_bar">
					<a href="{{ @site_url }}" title="Home"><div class="nav_bar_main"></div></a>
			</div>
			<div class="right_corner"></div>
			<div class="cl"></div>
		</div>

		<div class="menu_frame_main">
			<div class="menu_bar">
							</div>
			<div class="cl"></div>
		</div>