<include href="header.html" />
<div class="content_frame">
    <div class="altcontent">
        <div class="help">
            <h1>Help: Forum</h1>
            <p>All forum posts are sanitized, meaning all HTML is escaped. That being said, there are a few features you can use:</p>
  
            <div class="section">
    	       <h5>URLs</h5>
                <p>Any URL starting with http:// will automatically be converted into a link.</p>
            </div>
            
            <h4>BBCode / DText</h4>
            <br />
            <div class="section">
            	<h5>Post Link</h5><br />
            	<p style="margin-left: 40px;"><b>BBCode:</b> [post]12345[/post]<br />
                <b>Description:</b> Link to a specific post number, where 12345 would be the id number of the post.<br />
                <b>Result:</b> <a href="">Post #12345</a><br /></p>
            </div>

            <div class="section">
            	<h5>Forum Link</h5><br />
            	<p style="margin-left: 40px;"><b>BBCode:</b> [forum]12345[/forum]<br />
                <b>Description:</b> Link to a forum number, where 12345 would be the id number of the topic.<br />
                <b>Result:</b> <a href="">Forum #12345</a><br /></p>
            </div>
            
            <div class="section">
            	<h5>Bold</h5><br />
            	<p style="margin-left: 40px;"><b>BBCode:</b> [b]Bold Text[/b]<br />
                <b>Description:</b> Bold a part of your message.<br />
                <b>Result:</b> <b>Bold Text</b><br /></p>
            </div>
            
            <div class="section">
            	<h5>Italic</h5><br />
            	<p style="margin-left: 40px;"><b>BBCode:</b> [i]Italicized Text[/i]<br />
                <b>Description:</b> Italicize a part of your message.<br />
                <b>Result:</b> <i>Italicized Text</i><br /></p>
            </div>
            
            <div class="section">
            	<h5>Strikethrough</h5><br />
            	<p style="margin-left: 40px;"><b>BBCode:</b> [s]Struck-out Text[/s]<br />
                <b>Description:</b> Stike-through a part of your message.<br />
                <b>Result:</b> <del>Struck-out Text</del><br /></p>
            </div>
            
            <div class="section">
            	<h5>Spolier</h5><br />
            	<p style="margin-left: 40px;"><b>BBCode:</b> [spoiler]The spoiler is a lie.[/spoiler]<br />
                <b>Description:</b> Hide text that can be shown by clicking it.<br />
                <b>Result:</b> <span class="spoiler">The spoiler is a lie.</span><br /></p>
            </div>
            
            <div class="section">
            	<h5>Quote</h5><br />
            	<p style="margin-left: 40px;"><b>BBCode:</b> [quote]Someone said: Some stuff about cats[/quote]<br />
                <b>Description:</b> Quote part of all of what someone said.<br />
                <b>Result:</b> <div class="quote">Someone said: Some stuff about cats</div><br /></p>
            </div>
            <br />
        </div>
    </div>
</div>
<include href="footer.html" />