<include href="header.html" />
<div class="content_frame">
    <div class="altcontent">
        <div class="help">
            <h1>Help: Wiki</h1>
            <p>All wiki posts are sanitized, meaning all HTML is escaped.</p>
            
            <h4>About wiki</h4>
            <br />
            <div class="section">
            	<h5>Posts</h5><br />
            	<p style="margin-left: 40px;">Wiki posts can be linked to a tag, or on it's own (ex. used by mods/admins to make rules pages etc.)</p>
            </div>

            <div class="section">
            	<h5>Editor</h5><br />
            	<p style="margin-left: 40px;">The editor provides an easy way to format the page using <a href="https://daringfireball.net/projects/markdown/syntax">Markdown Syntax</a> without having to remember formatting. <br />
            	It is an open source WYSIWYG (What you see is what you get) editor made to work with Markdown.</p>
            </div>
            <br />
        </div>
    </div>
</div>
<include href="footer.html" />