<include href="header.html" />
<div class="content_frame">
<div class="altcontent">
<div class="help">
  <h1>Help: Pools</h1>
  <p>A pool is a group of posts for any purpose (organization, series, etc.) Public visibility allows all users to add posts to your pool, while private allows just you to manage it.</p>
<div class="section">
	<h4>Creating a pool</h4>
    <p>While in pools, you can create a new pool by clicking the "Create" link in the 3rd level navbar.</p>
</div>  
<div class="section">
	<h4>Adding a post to a pool</h4>
    <p>While viewing any post, you can simply click on the "Add to Pool" link on the left sidebar and then select your desired pool.</p>
</div>
<div class="section">
	<h4>Editing pool options</h4>
    <p>While viewing a pool, you can change the options such as name, visibility, etc by clicking the "Edit" link in the 3rd level navbar.</p>
    <p>Note: You must have access to edit the pool for this to work.</p>
</div>
<div class="section">
	<h4>Editing pool order / Delete</h4>
    <p>While viewing a pool, you can change the order by clicking the "Editor" link in the 3rd level navbar.</p>
    <p>To change the order of a pool using drag and drop, select the "Reorder" mode in the dropdown for mode.</p>
    <p>To change the order of a pool by editing order number, select the "Manual Reorder" mode in the dropdown for mode.</p>
    <p>To delete a post from a pool, select the "Delete" mode in the dropdown for mode.</p>
    <p>Note: You must have access to edit the pool for this to work.</p>
</div>
<div class="section">
	<h4>Viewing a list of pools</h4>
    <p>While in pools, you can view a list of all pools at any time by clicking "All Pools" in the 3rd level navbar.</p>
</div>
<br /></div></div></div></div>
<include href="footer.html" />