<include href="header.html" />
			<div class="content_frame">
                <div class="altcontent">        
                    <form method="post" action="">
            		<table><tr><td>
            		Username:<br />
            		<input type="text" name="user" value="" />
            		</td></tr>
            		<tr><td>
            		Password:<br />
            		<input type="password" name="pass" value="" />
            		</td></tr>
            		<tr><td>
            		<input type="submit" name="submit" value="Log in" />
            		</td></tr>
            		<tr><td>
            		<a href="/user/resetpass">Forgot Password?</a>
            		</td></tr></table></form><br />
                </div>
            </div>
<include href="footer.html" />