<include href="header.html" />
		<div class="content_frame">
            <div class="forum">
                    <div class="post" id="{{ @id }}">
                        <div class="post_author">
                            <h6><a href="/user/{{ @from_id }}">{{ @from_username }}</a></h6>
		                    {{ @from_title }}
<check if="{{ @from_avatarinfo }}">
<true>
							<a href="/user/{{ @from_id }}"><img class="post_avatar" src="{{ @site_url }}{{ @thumbnail_folder_ava }}/{{ @from_id }}_{{ @from_avatarinfo.md5 }}.{{ @from_avatarinfo.file_ext }}" height="{{ @from_avatarinfo.height }}" width="{{ @from_avatarinfo.width }}" /></a>
</true>
<false>
                            &nbsp;
</false>
</check>
                        </div>
                        <div class="post_content">
                            <div class="date">{{ @date_made | raw }}</div>
                            <div class="date">Sent by {{ @from_username }} to {{ @to_username }}</div><br />
                            <h6>{{ @title }}</h6><br />
                            <div class="post_body"><p>{{ @body | raw }}</p></div>
                            <div class="post_signature">
                                <hr></hr>
								{{ @from_signature | raw }}
                            </div>
                        </div>
                </div>
                <a href="#" onclick="showHide('reply'); return false;">Reply</a>
                <form method="post" action="/mail/send" id="reply" style="display:none">
                <div class="post" id="newpostreply">
                    <div class="post_author">
                        <h6><a href="/user/{{ @checked_user_id }}">{{ @checked_username }}</a></h6>
                        {{ @utitle }}
<check if="{{ @avatarinfo }}">
<true>
						<a href="/user/{{ @checked_user_id }}"><img class="post_avatar" src="{{ @site_url }}{{ @thumbnail_folder_ava }}/{{ @checked_user_id }}_{{ @avatarinfo.md5 }}.{{ @avatarinfo.file_ext }}" height="{{ @avatarinfo.height }}" width="{{ @avatarinfo.width }}" /></a>
</true>
<false>
                        &nbsp;
</false>
</check>
                    </div>
                    <div class="post_content">
                        <div class="date"></div>
                        To: <span style="font-weight: bold;">{{ @from_username }}</span><br /><br />
                        <div class="post_body">Body: <textarea id="reply_box" name="post" rows="4" cols="6" style="padding-left: 5px; padding-right: 5px; width: 450px; height: 200px;"></textarea></div>
                        <div class="post_signature"></div>
                		<div class="post_footer">
                    	<input type="submit" name="submit" value="Post"/>
                        <input type="hidden" name="to_user" id="to_user" value="{{ @from_username }}"/>
                        <input type="hidden" name="parentid" id="parentid" value="{{ @parentid }}"/>
                        <input type="hidden" name="title" id="title" value="Re: {{ @title }}"/>
                        <input type="hidden" name="conf" id="conf" value="0"/>
                        </div>
                    </div>
                    <script type="text/javascript">
                    //<![CDATA[
                    document.getElementById('conf').value=1;
                    //]]></script>
                </div>
                </form>
            <br />
            </div>
        </div>
<include href="footer.html" />