<div class="pagination">
	<F3:check if="{{@pg.firstPage}}">
        <a href="{{@BASE, @T_ROUTE.'/'.@T_ARGS.'/', @pg.prefix.@pg.firstPage}}" alt="First page">&lt;&lt;</a>
    </F3:check>
	<F3:check if="{{@pg.prevPage}}">
        <a href="{{@BASE, @T_ROUTE.'/'.@T_ARGS.'/', @pg.prefix.@pg.prevPage}}" alt="Previous page">&lt;</a>
    </F3:check>
	<F3:repeat group="{{@pg.rangePages}}" value="{{@page}}">
	<F3:check if="{{@page == @PARAMS.page }}">
    <true>
        {{@page}}
    </true>
    <false>
    	<F3:check if="{{!@PARAMS.page && @page == 1}}">
    	<true>
    	{{@page}}
    	</true>
    	<false>
        <a href="{{@BASE, @T_ROUTE.'/'.@T_ARGS.'/', @pg.prefix.@page}}">{{@page}}</a>
    	</false>
    	</F3:check>
    </false>
    </F3:check>
	</F3:repeat>
	<F3:check if="{{@pg.nextPage}}">
        <a href="{{@BASE, @T_ROUTE.'/'.@T_ARGS.'/', @pg.prefix.@pg.nextPage}}" alt="Next page">&gt;</a>
    </F3:check>
	<F3:check if="{{@pg.lastPage}}">
        <a href="{{@BASE, @T_ROUTE.'/'.@T_ARGS.'/', @pg.prefix.@pg.lastPage}}" alt="Last page">&gt;&gt;</a>
    </F3:check>
</div>
