<include href="header.html" />
	<div class="content_frame">
	<div class="altcontent">
<check if="{{ count(@pools) == 0 }}">
<true>
        <h1>{{ @t_notfound }}</h1>
</true>
<false>
		<table class="highlightable" width="100%">  
		<tr>
		<th width="42%">Name</th>
		<th width="11%">Created by</th>
		<th width="11%">Posts</th>
		<th width="11%">Public</th>
		<th width="7%">Active</th>
		</tr>
    <repeat group="{{ @pools }}" value="{{ @p }}">
		<tr>
		<td><a href= "/pool/view/{{ @p.id }}">{{ @p.name }}</a></td>
			<td>{{ @userc->get_username(@p.user_id) }}</td>
			<td>{{ @p.post_count }}</td>
			<td>{{ @p.is_public }}</td>
			<td>{{ @p.is_active }}</td>
		</tr>
    </repeat>
</false>
</check>
        </table>
		</div><br /><br /><div id='paginator'>
        {{ @pagebrowser | raw }}
        </div>
		<div class="cl"></div>
		</div>
<include href="footer.html" />