<include href="header.html" />
		<div class="content_frame">
            <div class="altcontent">	
                <h4>Create Pool</h4>
                <br />
                <form method="post" target="" enctype="multipart/form-data">
            	<table><tr>
            	  <td width="15%"><div align="right">Name:</div>
            	  <td width="85%"><input name="name" id="name" type="text" size="55" />
          	      <tr>
            	  <td><div align="right">Public?</div></td>
            	  <td><input type="checkbox" name="public" id="public"></td></tr>
            	<tr>
            	  <td><div align="right">Description:</div></td>
            	  <td><textarea name="desc" id="desc" cols="50" rows="5"></textarea>
            	</td></tr>
            	  <td>
            	<input type="submit" name="submit" value="Save" />
            	</td></tr>
            	</table>
            	</form>
                &nbsp;
            </div>
        </div>
<include href="footer.html" />