<include href="header.html" />
        <div class="content_frame">
        <div class="altcontent">
        <h4>Password Reset</h4><br />
<check if="{{ @message }}">
        <h5>{{ @message }}</h5>
</check>
<check if="{{ @secondstep }}">
<true>
		<form method="post" action="">
		<table><tr><td>
		Enter your new password:
		<input type="password" name="new_password" value="" />
		</td></tr>
		<tr><td>
		<input type="submit" name="submit" value="submit" />
		</td></tr>
		</table>				
		</form><br />
</true>
<false>
		<form method="post" action="">
		<table><tr><td>
		Username: 
		<input type="text" name="username" value="" />
		</td></tr>
		<tr><td>
		<input type="submit" name="submit" value="submit" />
		</td></tr>
		</table></form><br />
</false>
</check>
            </div></div>
<include href="footer.html" />