<include href="header.html" />
    <div class="content_frame" />
    <div class="altcontent" />
    

    
    <!--Page Design
    
    
    Preferably I wanted to keep this all on one page
    But if needed we can have 3 different types of pages
    One of Users, One of User Levels, and One of Posts
    
    
    Dropdown box
            -- Users
            -- Posts
    
    
    Subdropdown box
            (users)
            -- Sort by Amount of Posts
            -- Sort by Karma (score)
            -- Sort by Amount of Favorites
            -- Sort by amount of Forum posts
            -- Sort by overall activity
            -- Sort by User Level 
                -- View Admins
                -- View Mods
                -- View Privilaged
                -- View Contributers
                -- View Members
            
            
            (Posts)
            -- Sort by Favorites
            -- Sort by Score
            -- Sort by Comment Amount
            -- Sort by Amount of votes (Probably impossible)
            -- Sort by Amount of tags
    
    -->
    
<div class="cl"></div>
		</div>
<include href="footer.html" />