<include href="header_min.html" />
        		<div class="content_frame">
            <div class="altcontent_main2">
              <br />
              <div class="tos">
                <h4>Terms of Service</h4>
                <p>By accessing the website ("site"), you agree to the following Terms of Service. If you do not agree to these terms, then please do not access the site.</p>  
            
                <ul>
                  <li>The site reserves the right to change these terms at <b>any time</b>.</li>
                  <li>If you are a minor, then you will not use the site.</li>
                  <li>The site is presented to you <b>as is</b>, without any warranty, express or implied. You will not hold the site or its staff members liable for damages caused by the use of the site.</li>
                  <li>The site reserves the right to delete or modify your account, or any content you have posted to the site.</li>
                  <li>You will make a best faith effort to upload only high quality, furry-related images.</li>
            	  <li>You will act and talk in a mature manner in comments and forum posts, refraining from excessive use of emoticons and improper punctuation/grammar. 
                  <li>You have read the <a href="{{ @site_url }}help/posts">tagging guidelines</a>.</li>
                </ul>
                
                <div class="tos">
                  <h6>Prohibited Content</h6>
                  <p>In addition, you may not use the site to upload any of the following:</p>
                  <ul>
                    <li><u>Child pornography</u>: Any photograph or photorealistic drawing or movie that depicts children in a sexual manner. This includes nudity, explicit sex, and implied sex.</li>
                    <li><u>Watermarked</u>: Any image where a person who is not the original copyright owner has placed a watermark on the image.</li>
                    <li><u>Poorly compressed</u>: Any image where compression artifacts are easily visible.</li>
                    <li><u>Grotesque</u>: Any depiction of extreme mutilation, extreme bodily distension, feces, or bodies that are far outside the realm of normal proportion (for example, breasts that are as large as the body).</li>
                  </ul>
                </div>
             
            	<div class="tos">
            		<h6>Failure to comply in the above policies will result in diciplinary action by the administrators leading up to and including account termination.</h6>
            		</div>
                </div>
              
              <div class="tos">
                <br />
                <h4>Copyright Infringement</h4>
            
                <p>If you believe a post infringes upon your copyright, please send a dmail to the admin with the following pieces of information:</p>
                <ul>
                  <li>The URL of the infringing post.</li>
                  <li>Proof that you own the copyright.</li>
                  <li>An email address that will be provided to the person who uploaded the infringing post to facilitate communication.</li>
                </ul>
              </div>
            
              <div class="tos">
                <h4>Privacy Policy</h4>
            
                <p>The site will not disclose the IP address or email address of any user except to the staff.</p>
                <p>The site is allowed to make public everything else, including but not limited to: uploaded posts, favorited posts, comments, forum posts, wiki edits, and note edits.</p>
              </div>
                <br />
            </div>
        </div>
<include href="footer.html" />