<include href="header.html" />
<div class="content_frame">
	<div class="sidebar">
		<div id="tagl" class="block">
			<h5>Recently Updated</h5>
			<ul class="tag-sidebar">
<repeat group="{{ @recent }}" value="{{ @r }}">
    <check if="{{ @r.title !== null }}">
				<li><span class="{{ @r.color }}"><a href="/wiki/view/{{ @r.id }}">{{ @r.title }}</a></span></li>
    </check>                   
</repeat>
			</ul>
		</div>
	</div>
			
	<div class="content">
		<div id="notice" class="notice"></div>
		<div id="wiki" class="wiki">
			<h2 class="wiki-title">{{ @title }}</h2>
			<span>Comparing versions {{ @before_id }} and {{ @after_id }}.</span><br /><br />
			<div id = "wikicontent">
				{{ @diff_info | raw }}
			</div>
		</div>
	</div>
	<br />

	<div class="cl"></div>
</div>
<include href="footer.html" />